@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
}

.main {
  background-color: rgb(25, 35, 44);
  background-image: url(../img/png/background.png);
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: top 0 center;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  justify-content: space-between;
  max-width: 985px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 70px;
  margin-bottom: 53px;
  align-items: center;
  border-radius: 10px;
  background-color: #92e8fe02;
  border: solid 1px #92e8fe10;
  border-radius: 10px;
}

.title {
  height: 100%;
  width: calc(100% - 322px);
  min-width: 400px;
  text-align: center;
  &__text {
    opacity: 1;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}

.currencies {
  border-radius: 5px;
  background-color: #92e8fe02;
  border: solid 0.2px #92e8fe;

  height: 55px;
  margin: 22px 24px 21px 0;
  width: 297px;
  min-width: 200px;
}

.commodity {
  background-position: -78px -111px;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px 27px;
  text-align: center;
  width: 31.5%;
  max-width: 308px;
  min-width: 300px;
  margin-bottom: 20px;
  &__name {
    position: relative;
    display: inline-block;
    text-transform: lowercase;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__pic {
    //   position: relative;
  }
  &__props {
    box-sizing: content-box;
    width: 100%;
    margin-top: -16px;
  }
}

#BTC {
  background-color: rgb(52, 14, 0);
  background-image: url(../img/png/BTC_bgrnd.png);
  & .commodity__pic {
    margin-left: 11px;
    margin-top: -4px;
    margin-bottom: 3px;
  }
}

#ETH {
  background-position: 0 0;
  background-color: rgb(32, 76, 52);
  background-image: url(../img/png/ethereum_bgrnd.png);
  & .commodity__pic {
    margin-left: -17px;
    margin-top: -68px;
    margin-bottom: -135px;
  }
}

#LTC {
  background-position: 0 0;
  background-color: rgb(51, 51, 51);
  background-image: url(../img/png/litecoin_bgrnd.png);

  & .commodity__pic {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.field {
  font-family: Roboto;

  &__name {
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }

    &--price {
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }

    &--percent {
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }

    &--secondary {
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: rgba(255, 255, 255, 0.2);
    }
  }

  &__value {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: right;
    color: #70c446;
    &[data-set="last"] {
      font-family: Roboto;
      font-size: 21.5px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
    &--negative {
      color: #c80e24;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  right: 0;
  bottom: 9px;
  width: 38px;
  height: 16px;
  border-radius: 7.6px;
  background-color: #c4c4c4;
  box-shadow: inset 1.4px 2.7px 7px 0 rgba(27, 36, 40, 0.56);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  background-image: url(../img/png/toggle.png);
  background-position: center;
  height: 22px;
  width: 22px;
  right: -1px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3eb5f1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3eb5f1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-22px);
  -ms-transform: translateX(-22px);
  transform: translateX(-22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 7.6px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 1027px) {
  .container {
    justify-content: space-around;
    align-items: center;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .currencies {
    margin-left: auto;
    margin-right: auto;
  }

  .title__text {
    font-size: 24px;
  }
}
